@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root {
    --body-font:'Nanum Myeongjo', serif;
    --h2-font-size: 1.5rem;
    --small-font-size: 0.9rem;
}

body {
    color: #000;
    font-family: var(--body-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.40);
    font-family: var(--body-font);
    position: fixed;                 /* 스크롤 해도 항상 위치 고정함 */
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;                   /* 책 올릴 때 header 위로 올라가는 문제 해결 */
}

nav {
    height: 40px;
}

.nav.container {
    display: flex;                  /* 기본값 : 수평정렬 */
    justify-content: center;
    align-items: center;            /* 교차축 가운데 맞춤 */
    padding: 0 16px;
}

.moblie-title {
    display: none;
}

.nav.container a {
    color: #533422;
    text-decoration-line: none;
}

.nav-list {
    display: flex;
    column-gap: 100px; /* 간격 */
}

.nav-item {
    list-style-type: none;
    font-size: var(--small-font-size);
}

.nav-item:first-child {
    margin-right: 200px;
}

.nav-toggle {
    font-size: var(--h2-font-size);
}

.nav-toggle {
    font-size: var(--h2-font-size);
    visibility: hidden;
}

/*태블릿*/
@media screen and (max-width: 770px) {
    .nav-item:first-child {
        margin-right: 70px;
    }
}

/*휴대폰*/
@media screen and (max-width: 540px) {
    .moblie-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .nav-logo 가운데 */
    .nav-logo {
        margin: 0 auto;
    }
    /* .nav-toggle 보이게 */
    .nav-toggle {
        visibility: visible;
        position: absolute;
        right: 16px;
    }

    /* .nav-list navbar 아래로 */
    .nav-list {
        position: absolute; 
        top: 20px;
        right: 0;  
        left: 0; 
        flex-direction: column; 
        text-align: center;
        background-color: #fff;
        backdrop-filter: blur(8px);
        height: 0;
        overflow: hidden;
        transition: 0.2s;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        margin-right: 35px;
        margin-top: 10px;
    }

    .nav-item:first-child {
        display: none;
    }

    .nav-link {
        display: block;
    }

    /* .show-menu하면, .nav-list 보이게 */
    .show-menu { 
        height: 170px;
    }
    
}