@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    font-family: 'Nanum Myeongjo', serif;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    /* color */
    --fist-color: #008156;
    --second-color: #efb11c;
    --white: #fff;
    --main-color: #DEA465;
    --gray400: #E7E7E7;
    --gray900: #bdbdbd;

    --body-font:'Pretendard-Regular';
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-thin: 200;
    --font-regular: 400;
    --font-bold: 700;
}


textarea:focus::placeholder,
input:focus::placeholder{
    color: transparent;
}

textarea::placeholder,
input::placeholder{
    color: var(--gray900);
}

::-webkit-scrollbar{
    display: none;
}