body{
    margin: 0;
}
.main-container{
    /* position: fixed; */
    top: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;

}
.container2{
    background-image: url(../../image/image2.png);
    height: 100vh;
    background-size: cover;
}
.container3{
    overflow: hidden;
    height: 100vh;
}
.container4{
    /* position: relative; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
}
.container5{
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}
h1{
    color: #533422;
    font-size: 2.8rem;
}
p{
    color: #533422;
    font-size: var(--h2-font-size);
}
video{
    min-width: 1920px;
    min-height: 1080px;
    /* position: relative; */
}
.logo{
    position: absolute;
    /* display: flex;
    justify-content: center; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 30%;
}
h2{
    position: absolute;
    font-family: var(--body-font);
    color: var(--white);
    font-size: 3.2rem;
    font-weight: bolder;
}
span{
    color: var(--main-color);
    font-family: var(--body-font);
}
.left{
    padding: 7%;
}
.right{
    right: 7%;
    padding-top: 10%;
    /* white-space: nowrap; */
}
.last-logo{
    opacity: 0.6;
    width: 70%;
}
.last-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last-comment{
    color: var(--white);
    font-size: var(--normal-font-size);
    font-weight: 100;
}

@media screen and (max-width: 720px){
    .logo {
        width: 40%;
    }

    .left, .right {
        font-size: var(--h1-font-size);
    }

    .container4 h1 {
        font-size: 1.4rem;
    }

    .container4 p {
        font-size: var(--normal-font-size);
    }

    .last-box img {
        width: 40%;
    }

    .last-box p {
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width: 540px) {
    .left {
        position: relative;
        writing-mode: vertical-lr;
        float: right;
        font-size: 1.8rem;
        top: 5%;
    }

    .container4 {
        text-align: center;
        margin-left: 25%;
        width: 50vw;
    }

    .container4 p {
        font-size: var(--small-font-size);
    }

    .last-box p {
        font-size: var(--smaller-font-size);
    }
}