body{
    margin: 0;
}
.main-container{
    top: 0;
    z-index: -1;
    overflow: hidden;
    height: 100vh;

}
.container2{
    background-image: url(../../image/image2.png);
    height: 100vh;
    background-size: cover;
}
.container3{
    overflow: hidden;
    height: 100vh;
}
.container4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
}
.container5{
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}
h1{
    color: #533422;
    font-size: 2.8rem;
}
p{
    color: #533422;
    font-size: var(--h2-font-size);
}
video{
    min-width: 1920px;
    min-height: 1080px;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 30%;
}
h2{
    position: absolute;
    font-family: var(--body-font);
    color: var(--white);
    font-size: 3.2rem;
    font-weight: bolder;
}
span{
    color: var(--main-color);
    font-family: var(--body-font);
}
.left{
    padding: 7%;
}
.right{
    right: 7%;
    padding-top: 10%;
}
.last-logo{
    opacity: 0.6;
    width: 70%;
}
.last-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last-comment{
    color: var(--white);
    font-size: var(--normal-font-size);
    font-weight: 100;
}

@media screen and (max-width: 770px){
    .logo, .last-box img {
        width: 50%;
    }

    .left, .right {
        font-size: 2.3rem;
        margin-top: 15%;
    }

    .container4 h1 {
        font-size: 1.8rem;
    }

    .container4 p, .last-box p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 540px) {
    .left {
        position: relative;
        writing-mode: vertical-lr;
        float: right;
        font-size: 1.8rem;
    }

    .container3 {
        position: relative;
    }

    .right {
        position: absolute;
        writing-mode: vertical-lr;
        white-space: nowrap;
        left: 5%;
        top: -5%;
    }

    .container4 {
        text-align: center;
        margin-left: 20%;
        width: 60vw;
    }

    .container4 h1 {
        font-size: 1.3rem;
    }

    .container4 p {
        font-size: 0.9rem;
    }

    .last-box p {
        font-size: var(--smaller-font-size);
    }
}

.container2,
.container3
.container4 {
    height: 100vh;
    display: flex;
}

.left,
.right {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}
.park {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.container2.visible .left,
.container3.visible .right,
.container4.visible .park {
    opacity: 1;
    transform: translateY(0);
}

.container3.visible span {
    opacity: 1;
    transform: translateY(0);
}

.container3,
.container4 {
    position: relative;
}