body {
    margin: 0;
}

.backgroundImg {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 30%;
}

.title {
    position: absolute;
    top: 11.5%;
}

.gogosing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.gogosing img  {
    width: 30vw;
    height: 70%;
}

.Container {
    display: flex;
    flex-direction: column;
}

.text1 {
    width: 40vw;
}

.text2 {
    font-size: 0.7rem;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    width: 45vw;
    height: 10vh;
    margin-top: 70px;
}

.btn {
    width: 140px;
    height: 40px;
    color: var(--white);
    background-color: var(--main-color);
    border: 0;
    border-radius: 20px;
}

hr {
    height: 1px;
    background-color: var(--main-color);
    border: none;
}

.first-hr {
    position: relative;
    top: 80px;
}

.second-hr {
    position: relative;
    bottom: 40px;
}


@media screen and (max-width: 770px) {
    .backgroundImg {
        width: 100vw;
        height: 100vh;
    }
    
    .gogosing {
        position: relative;
    }

    .logo {
        width: 50%;
    }

    .title {
        width: 60%;
    }

    .gogosing img  {
        width: 50%;
        height: 50%;
    }

    .text1 {
        width: 40vw;
        font-size: 1.3rem;
    }
    
    .text2 {
        font-size: var(--small-font-size);
    }

    .btn {
        width: 20vw;
        height: 4vh;
        font-size: 0.9rem;
    }

    .btnContainer {
        margin-top: 15%;
        margin-left: -10%;
    }
    
    .first-hr {
        top: 100px;
    }
    
    .second-hr {
        bottom: 40px;
    }

}

@media screen and (max-width: 540px) {
    .backgroundImg img {
        object-fit: cover;
    }

    .Container {
        justify-content: center;
        text-align: center;
    }

    .background {
        margin-top: -15%;
        height: 107%;
    }

    .logo {
        width: 50%;
    }

    .title {
        width: 70%;
        top: 8%;
    }

    .gogosing {
        flex-direction: column;
    }

    .gogosing img {
        width: 80%;
        height: 50%;
    }

    .text {
        margin-top: 30px;
    }

    .text1 {
        width: 70vw;
        font-size: 0.9rem;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 25%;
        top: -5%;
    }

    .btn {
        width: 80%;
        height: 50%;
        border-radius: 30px;
    }

    .first-hr {
        top: 90px;
    }

    .second-hr {
        bottom: 20px;
    }
}