body {
    width: 100vw;
    height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
    align-items: center;
}
.frame {
	transform: rotate(-5deg);
	width: 220px;
	background-color: #000000;
	height: 76%;
    position: relative;
    right: 3%;
}
.photos {
	margin-top: 10%;
    height: 86%;
}
.photo-frame {
    position: relative;
	background-color: white;
	margin: 5% 6%;
	height: 23%;
    background-size: cover;
    object-fit: cover;
}
.f-title{
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: var(--normal-font-size);
}
.input{
    display: flex;
    width: 30vw;
    height: 45vh;
    border-radius: 10px;
    border: 0;
    background-image: url(../../image/paper.png);
    resize: none;
    outline: none;
    font-size: var(--normal-font-size);
}
input{
    outline: none;
}
img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    filter: sepia(90%) grayscale(10%) contrast(70%);
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
    column-gap: 1%;
}
.write{
    display: flex;
    flex-direction: column;
    background-image: url(../../image/paper.png);
    box-shadow: 1px 3px 20px 1px rgba(175, 175, 175, 0.148);
    padding: 2%;
    border-radius: 10px;
    align-items: flex-end;
    width: 30vw;
}
.upload,
.replace{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
    border: 0;
    padding: 2% 3%;
    border-radius: 5px;
    margin-bottom: 2%;
    margin-right: 2%;
}
.write-container{
    display: flex;
    flex-direction: column;
}
.song-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 15vh;
    margin-top: 5%;
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--gray400);
}
.song-title {
    width: 70%;
    height: 30%;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--normal-font-size);
}

.title {
    margin-top: 1vw;
    display: inline-block;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(21vw);
    }
    100% {
        transform: translateX(-100%);
    }
}
.playline{
    width: 23vw;
    height: 0.28vw;
    margin-top: 1.4vw;
    background-color: #E3E3E3;
    border-radius: 50px;
}
.element {
    width: 0vw;
    height: 0.28vw;
    margin-top: 1.4vw;
    background-color: var(--main-color);
    border-radius: 50px;
    animation: lineMove 2s linear forwards;
    animation-name: lineMove;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.play{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: 1vw;
    grid-column-gap: 5vw;
}
.backBtn,
.nextBtn,
.playBtn{
    background: none;
    border: none;
    width: 3.6vw;
    height: 2.2vw;
    color: var(--main-color);
    font-size: var(--h2-font-size);
}
.song-box{
    position: absolute;
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
    transform: translate(-50%,-50%);
    transform: rotate(3deg);

    overflow: hidden;
}
.song{
    position: absolute;
    white-space: nowrap;
}
#image-show1 label,
#image-show2 label,
#image-show3 label,
#image-show4 label{
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: var(--normal-font-size);
}

#image-show1-1 label,
#image-show2-1 label,
#image-show3-1 label,
#image-show4-1 label{
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    font-size: var(--normal-font-size);
}

#image-show1 input[type="file"],
#image-show2 input[type="file"],
#image-show3 input[type="file"],
#image-show4 input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#image-show1-1 input[type="file"],
#image-show2-1 input[type="file"],
#image-show3-1 input[type="file"],
#image-show4-1 input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

section.screen1,
section.screen2 {
    display: none;
}

@media screen and (max-width: 770px) {
    .frame {
        position: relative;
        left: -5%;
    }

    .replace,
    .upload {
        height: 3.5vh;
    }

    .write-container {
        position: relative;
        left: 10%;
    }

    .input {
        width: 40vw;
    }

    .song-container {
        position: relative;
        width: 40vw;
        left: -25%;
        
    }

    .playline {
        width: 30vw;
    }

    .play {
        grid-column-gap: 8vw;
    }
    
}

@media screen and (max-width: 540px) {
    section.frame,
    section.write-container {
        display: none;
    }

    section.screen1 {
        display: block;
    }

    .screen1 {
        position: relative;
        width: 250px;
        background-color: #000000;
        height: 76%;
        top: -3%;
    }

    .photos {
        height: 90%;
    }

    .photo-frame {
        width:54vw;
    }

    .haduri-logo {
        left: 12%;
        top: 5%;
    }

    .footer {
        margin-top: -5%;
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
        top: 5%;
    }

    .button button {
        background-color: var(--main-color);
        font-size: 1.2rem;
        color: #fff;
        border: 0;
        border-radius: 50px;
        width: 55vw;
        height: 5.5vh;
    }

    .list_circle_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 5%;
        right: 8%;
    }

    .list_circle_btn ul {
        display: flex;
    }

    .list_circle_btn ul li {
        list-style-type: none;
        width: 8px;
        height: 8px;
        background-color: #FFE4C6;
        margin: 0 2px;
        border-radius: 10px;
        cursor: pointer;
    }

    .list_circle_btn ul li.on {
        background-color: var(--main-color);
    }

    .playline {
        width: 60vw;
    }

    .play {
        position: relative;
        top: 65%;
        right: 3%;
        grid-column-gap: 20vw;
    }

    .screen2 {
        position: relative;
        left: -5%;
    }

    .write {
        position: relative;
        left: 68%;
    }

    .input {
        width: 80vw;
        height: 50vh;
    }

    .replace {
        width: 30vw;
    }

    .song-container {
        position: relative;
        width: 80vw;
        height: 10vh;
        left: 5%;
    }

    .song-title {
        position: absolute;
        top: 15%;
        font-size: var(--small-font-size);
    }

    .line {
        position: relative;
        top: 55%;
    }

    .button1-container,
    .button2-container {
        display: block;
        position: relative;
    }

    .button1-container {
        top: 5%;
    }

    .button2-container {
        display: block;
        position: relative;
        top: 130%;
    }
}