html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    height: 100%;
}
.button {
    height: 94%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20%;
    text-align: center;
    /* background-color: aqua; */
}
.haduri{
    position: relative;
    background-image: url(/image/haduri-film.png);
    background-size: cover;
        /* object-fit:cover; */
    width: 11%;
    height: 60%;
    transform:rotate(-5deg)
}
label {
    cursor: pointer;
    font-size: 1em;
    /* width: 100vw; */
}

#chooseFile1,
#chooseFile2,
#chooseFile3,
#chooseFile4
 {
    visibility: hidden;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    border-bottom: solid 2px black;
    width: 60%;
    height: 30px;
}

#fileName {
    margin-left: 5px;
}

.buttonContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img {
    position: absolute;
}