body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

main{
    display: flex;
    height: 100%;
    justify-content: center;
}

.song-container {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: space-between;
    /* margin-top: 70px;
    margin-left: 130px; */
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    width: 40%;
}

.input {
    width: 35vw;
    height: 5vh;
    padding-left: 35px;
    box-shadow: 5px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    /* color: #D1D1D1; */
    outline: none; 
    cursor: pointer;
}

.input:focus {
    color: #000;
  }

.bi-search {
    position: absolute;
    margin-left: 10px;
    color: #D1D1D1;
    font-size: 0.9rem;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    row-gap: 5%;
}

.viewContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 60vh;
    width: fit-content;
}

.scrollable-view {
    max-height: 100%;
    overflow-y: auto;
}

.view {
    display: flex;
    align-items: center;
    height: 7vh;
    width: 30vw;
    padding-left: 35px;
    margin-bottom: 10px;
    box-shadow: 5px;
    border-radius: 10px;
    /* border: 1px solid #D1D1D1; */
    font-size: 1rem;
    cursor: pointer;
    border: #D1D1D1 1px solid;
}

.tape {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    float: right;
    /* margin-top: -420px;
    margin-right: 70px; */
}

.tape img {
    width: 40vw;
    height: 55vh;
}

.title-container {
    position: absolute;
    width: 15%;
    overflow: hidden;
    top: 37%;
}
.songTitle {
    display: inline-block;
    white-space: nowrap;
    top: 38%;
    font-size: 1rem;
    animation: marquee 8s linear infinite;
}
@keyframes marquee {
    0% {
        transform: translateX(21vw);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 720px) {
    .song-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 0;
        gap: 5%;
    }

    .search {
        margin-right: 65px;
        width: 60vw;
    }

    .input {
        width: 100%;
    }
    
    .view {
        width: 55vw;
    }

    .viewContainer { 
        max-height: 35vh;
    }

    .tape { 
        margin-right: 0;
    }

    .tape img {
        width: 60vw;
        height: 40vh;
    }

    .title-container {
        top: 24.2%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 540px) {
    .search {
        width: 70vw;
        margin-right: 25px;
    }

    .input {
        width: 100%;
    }

    .view {
        width: 65vw;
    }

    .tape img {
        width: 70vw;
    }
}