body {
    margin: 0;
}

.searchView {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-top: 70px;
    margin-left: 130px;
}

.search {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.input {
    width: 35vw;
    height: 5vh;
    padding-left: 35px;
    box-shadow: 5px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    outline: none; 
    cursor: pointer;
}

.input:focus {
    color: #000;
  }

.bi-search {
    position: absolute;
    margin-left: 10px;
    color: #D1D1D1;
    font-size: 0.9rem;
    cursor: pointer;
}

.viewContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 60vh;
}

.scrollable-view {
    max-height: 100%;
    overflow-y: auto;
}

.view {
    display: flex;
    align-items: center;
    width: 35vw;
    height: 7vh;
    padding-left: 35px;
    margin-bottom: 10px;
    box-shadow: 5px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 1rem;
    cursor: pointer;
}

.tape {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    float: right;
    margin-top: -420px;
    margin-right: 70px;
}

.tape img {
    width: 40vw;
    height: 55vh;
}

.songTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    font-size: 1rem;
}

@media screen and (max-width: 720px) {
    
}

@media screen and (max-width: 540px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }

    .searchView {
        margin-top: 50px;
        margin-left: 0;
        row-gap: 300px;
    }

    .input, .view {
        width: 62vw;
    }

    .viewContainer {
        max-height: 35vh;
    }

    .tape { 
        margin-right: 0;
        margin-top: -550px;
    }

    .tape img {
         width: 70vw;
         height: 40vh;
    }

    .songTitle {
        margin-top: 25px;
        font-size: 0.8rem;
    }
}